header, footer {
  background-color: darkslateblue;
  color: aliceblue;
}

header {
  display: flex;
  align-items: flex-start;
}

header h1 {
  margin-left: 40%;
}

main {
  position: absolute;
  bottom: 22px;
  top: 80px;
  width: calc(100% - 6px);  /* Esses 6px é para desconsiderar a margem e a borda de ambos os lados */
  margin: 3px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer p {
  margin: 2px 0;
}

.logo {
  height: 64px;
}
